
### Assignment:
Recreate the **Medallion Architecture (Bronze → Silver → Gold layers)** in **MySQL** using the same data, transformations, and logic previously implemented in **Spark SQL**. The original workflow included creating the Bronze, Silver, and Gold layers, followed by **Exploratory Data Analysis (EDA)** on the processed data.


#### Tasks to be Completed  
1. **Data Setup**  
   - Load the original dataset into MySQL tables representing the **Bronze layer**.  

2. **Data Transformation**  
   - Apply transformations to create the **Silver layer**, cleaning and refining the data.  
   - Generate the **Gold layer** with aggregated or final business-ready data.  

3. **EDA in MySQL**  
   - Run SQL queries to analyze the data at each layer, similar to the EDA performed in Spark SQL.  

4. **Validation**  
   - Ensure the output of each layer matches the logic and results from the original Spark SQL implementation.


#### Deliverables  
- **SQL Scripts:** For Bronze, Silver, Gold layers, and EDA queries.  
- **Documentation:** A brief explanation of each step, transformation logic, and final observations.